![Getting Started](Pandas.png)

### What is Python Pandas?

Pandas is an open-source Python library that provides high-performance, easy-to-use data structure, and data analysis tools for the Python programming language. 

Python with pandas is used in a wide range of fields, including academics, retail, finance, economics, statistics, analytics, and many others.

Python pandas is well suited for different kinds of data, such as:

`Ordered and unordered time series data`\
`Unlabeled data`\
`Any other form of observational or statistical data sets`

![](panda.png)

#### Installation Pandas Library
 !pip install pandas

In [1]:
import pandas as pd

In [2]:
import pandas as pd
print(pd.__version__)

2.1.1

In [3]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [5]:
myvar.head(1)

  cars  passings
0  BMW         3

In [6]:
myvar.tail(1)

   cars  passings
2  Ford         2

In [7]:
dic = {
    "Name":["Noman",'Ali','Umair',"Ahmed","Noman",'Ali','Umair',"Ahmed"],
    "Marks":[52,68,97,88,63,74,52,45],
    'num':[123,234,456,234,345,457,123,12]
}

df = pd.DataFrame(dic)

# print(df)

df

    Name  Marks  num
0  Noman     52  123
1    Ali     68  234
2  Umair     97  456
3  Ahmed     88  234
4  Noman     63  345
5    Ali     74  457
6  Umair     52  123
7  Ahmed     45   12

In [8]:
df.describe()

           Marks         num
count   8.000000    8.000000
mean   67.375000  248.000000
std    18.282994  161.992945
min    45.000000   12.000000
25%    52.000000  123.000000
50%    65.500000  234.000000
75%    77.500000  372.750000
max    97.000000  457.000000

### Python Pandas Series
The Pandas Series can be defined as a one-dimensional array that is capable of storing various data types. We can easily convert the list, tuple, and dictionary into series using "series' method. The row labels of series are called the index. A Series cannot contain multiple columns. It has the following parameter:

  * data: It can be any list, dictionary, or scalar value.
  * index: The value of the index should be unique and hashable. It must be of the same length as data. If we do not pass any index, default np.arrange(n) will be used.
  * dtype: It refers to the data type of series.
  * copy: It is used for copying the data.

### Creating a Series:
We can create a Series in two ways:

* Create an empty Series
* Create a Series using inputs.

In [9]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

# print(myvar)
myvar

0    1
1    7
2    2
dtype: int64

In [10]:
import pandas as pd  
import numpy as np  

info = np.array(['P','a','n','d','a','s'])  

a = pd.Series(info)  

print(a)

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [11]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [12]:
#import the pandas library   
import pandas as pd   
info = {'x' : 0., 'y' : 1., 'z' : 2.}  
a = pd.Series(info)  
print (a)

x    0.0
y    1.0
z    2.0
dtype: float64

In [13]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [14]:
import pandas as pd  
import numpy as np  

x = pd.Series(4, index=[0, 1, 2, 3])  
print (x)

0    4
1    4
2    4
3    4
dtype: int64

In [15]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

![Getting Started](descr.png)

In [16]:
# importing the pandas library  
import pandas as pd  
df = pd.DataFrame()  
print (df)

Empty DataFrame
Columns: []
Index: []

In [17]:
# importing the pandas library  
import pandas as pd  
# a list of strings  
x = ['Python', 'Pandas']  

# Calling DataFrame constructor on list  
df = pd.DataFrame(x)  
print(df)

        0
0  Python
1  Pandas

In [18]:
# importing the pandas library  
import pandas as pd  
info = {'ID' :[101, 102, 103],'Department' :['B.Sc','B.Tech','M.Tech',]}  
df = pd.DataFrame(info)  
print (df)

    ID Department
0  101       B.Sc
1  102     B.Tech
2  103     M.Tech

In [19]:
# importing the pandas library  
import pandas as pd  
  
info = {'one' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f']),  
   'two' : pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])}  
  
d1 = pd.DataFrame(info)  
# print (d1)  
d1

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  6.0    6
g  NaN    7
h  NaN    8

In [20]:
# importing the pandas library  
import pandas as pd  
  
info = {'one' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f']),  
   'two' : pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])}  
  
d1 = pd.DataFrame(info)
d1

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  6.0    6
g  NaN    7
h  NaN    8

In [21]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [22]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
dff = pd.DataFrame(data)

print(dff)

   calories  duration
0       420        50
1       380        40
2       390        45